<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">d">
<!-----------------------------------------------------------------------------------------  -->

    <!-- Three columns of text below the carousel -->
	<div class="row">
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-body">
	        <h5 class="card-title">시간</h5>
	        <p class="card-text">시간과 관련된 유틸리티와 알고리즘을 사용할 수 있습니다.</p>
	        <a href="/plus/util/time/main" class="btn btn-primary">Go Util</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-body">
	        <h5 class="card-title">자료구조</h5>
	        <p class="card-text">List / Map 과 같은 자료구조의 다양한 사용 및 활용 방법을 확인할 수 있습니다.</p>
	        <a href="#" class="btn btn-primary">Go Util</a>
	      </div>
	    </div>
	  </div>
	</div>


<!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" th:insert="html/footer.html :: footerFragment"></div>
</body>
</html>