<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">
    <!-----------------------------------------------------------------------------------------  -->
    <section id="about" class="about">
        <div class="container">
            <table class="table text-center">
                <thead class="table-light">
                <tr>
                    <th width="5%" scope="col"></th>
                    <th width="60%" scope="col">제목</th>
                    <th width="25%" scope="col">작성자</th>
                    <th width="10%" scope="col">작성일</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:if="${pageExist}">
                    <tr scope="row" th:each="noticeInfo : ${noticePageList}">
                        <th:block th:if="${not #strings.isEmpty(noticeInfo.category)}">
                            <td width="7%">
						<span th:switch="${noticeInfo.category}">
							<span style="font-size: 11px; font-weight: 600;"
                                  class="text-primary border border-primary rounded-1 p-1" th:case="notice">공지사항</span>
							<span style="font-size: 11px; font-weight: 600;"
                                  class="text-success border border-success rounded-1 p-1"
                                  th:case="updateNote">업데이트</span>
							<span style="font-size: 11px; font-weight: 600;"
                                  class="text-secondary border border-secondary rounded-1 p-1" th:case="etc">기타</span>
						</span>
                            </td>
                        </th:block>
                        <th:block th:if="${#strings.isEmpty(noticeInfo.category)}">
                            <td width="7%" th:text="${noticeInfo.noticeNo}"></td>
                        </th:block>
                        <td width="58%"><a style="font-size: 18px; text-decoration: none; font-weight: 600;"
                                           class="link-secondary"
                                           th:href="@{/plus/notice/detail(noticeNo=${noticeInfo.noticeNo})}"
                                           th:text="${noticeInfo.title}"></a></td>
                        <td width="25%" th:text="${noticeInfo.writer}"></td>
                        <td width="10%"
                            th:text="|${#strings.substring(noticeInfo.writeDate,0,4)}.${#strings.substring(noticeInfo.writeDate,4,6)}.${#strings.substring(noticeInfo.writeDate,6,8)}|"></td>
                    </tr>
                </th:block>
                <th:block th:if="${!pageExist}">
                    <td colspan="4"><strong> 현재 공지 사항이 존재하지 않습니다.</strong></td>
                </th:block>
                </tbody>
            </table>

            <br>
            <hr>
            <th:block th:if="${pageExist}">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center"><!-- 페이징 가운데 정렬  -->
                        <th:block th:if="${currentPage} <= 0"> <!-- 현재 페이지가 0 보다 작거나 같을 경우  -->
                            <li class="page-item disabled">
                                <a class="page-link" th:href="@{/plus/notice/main(currentPage=${currentPage - 1})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        </th:block>
                        <th:block th:if="${currentPage} > 0"> <!-- 현재 페이지가 0 보다 클 경우 -->
                            <li class="page-item">
                                <a class="page-link" th:href="@{/plus/notice/main(currentPage=${currentPage - 1})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        </th:block>

                        <th:block th:each="num : ${#numbers.sequence(startPage,endPage)}"> <!-- 페이징 번호 루프문  -->
                            <th:block th:if="${currentPage} != ${num}"> <!-- 현재 선택된 페이지가 아닐 경우  -->
                                <li class="page-item">
                                    <a class="page-link" th:href="@{/plus/notice/main(currentPage=${num})}"
                                       th:text="${num + 1}"></a>
                                </li>
                            </th:block>
                            <th:block th:if="${currentPage} == ${num}"> <!-- 현재 선택된 페이지일 경우  -->
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" th:href="@{/plus/notice/main(currentPage=${num})}"
                                       th:text="${num + 1}"></a>
                                </li>
                            </th:block>
                        </th:block>

                        <th:block th:if="${totalPage} -1 <= ${currentPage}"> <!-- 현재 페이지가 전체 페이지보다 같거나 클경우  -->
                            <li class="page-item disabled">
                                <a class="page-link" th:href="@{/plus/notice/main(currentPage=${currentPage} + 1)}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </th:block>
                        <th:block th:if="${totalPage} -1 > ${currentPage}"> <!-- 현재 페이지가 전체 페이지 보다 작을 겨우  -->
                            <li class="page-item">
                                <a class="page-link" th:href="@{/plus/notice/main(currentPage=${currentPage} + 1)}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </th:block>
                    </ul>
                </nav>
            </th:block>

            <th:block th:if="${not #strings.isEmpty(noticeWriteRole)}"> <!-- 관리자만 작성 가능  -->
                <a href="/notice/write">공지사항작성</a>
            </th:block>

        </div>
    </section><!-- End About Us Section -->
    <!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" th:insert="html/footer.html :: footerFragment"></div>
</body>
</html>