<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">
<!-----------------------------------------------------------------------------------------  -->

	
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">게시글 번호</th>
		      <th scope="col">제목</th>
		      <th scope="col">작성자</th>
		      <th scope="col">작성일</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<tr scope="row" th:each="noticeInfo : ${noticePageList}">
				<td th:text="${noticeInfo.noticeNo}"></td>
				<td th:text="${noticeInfo.title}"></td>
				<td th:text="${noticeInfo.writer}"></td>
				<td th:text="${noticeInfo.writeDate}"></td>
			</tr>
		  </tbody>
		</table>
		

		
		<nav aria-label="Page navigation example">
		  <ul class="pagination">
		    <li class="page-item">
		      <a class="page-link" th:href="@{/notice/main(currentPage=${currentPage - 1})}" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
			
			<th:block th:each="num : ${#numbers.sequence(startPage,endPage)}">
				<li class="page-item"><a class="page-link" th:href="@{/notice/main(currentPage=${num})}" th:text="${num + 1}"></a></li>
			</th:block>
		    
		    <li class="page-item">
		      <a class="page-link" th:href="@{/notice/main(currentPage=${currentPage} + 1)}" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
		
		<th:block th:if="${not #strings.isEmpty(noticeWriteRole)}"> <!-- 관리자만 작성 가능  -->    
			<a href="/notice/write">공지사항작성</a>
		</th:block>

<!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" class="container-md" th:insert="html/footer.html :: footerFragment"></div>.
</body>
</html>