<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">
<!-----------------------------------------------------------------------------------------  -->

<div class="container-md border rounded" style="height: 700px">
	<br>

	<h3 th:text="${noticeDetail.title}"></h3> 
	<strong th:text="${noticeDetail.writer}"></strong>
	<br>
	<div class="position-relative">
	<div style="font-size: 11px">
		<span th:text="${dateDto.day}"></span><span> </span><span th:text="${dateDto.time}"></span>
	</div>
		<div class="position-absolute top-0 end-0">
			<th:block th:if="${updateRoleCheck}"> 
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb">
				    <li class="breadcrumb-item"><a class="link-primary" href="#">수정</a></li>
				    <li class="breadcrumb-item"><a class="link-danger" href="#">삭제</a></li>
				  </ol>
				</nav>
		 	</th:block>
		</div>
	</div>	
	<hr>
	<br>
	<div>
		<p th:text="${noticeDetail.content}">
		</p>
	</div>
</div>

<br>
<br>
<div class="position-relative">
	<div class="position-absolute bottom-0 end-0">
		<a href="javascript:window.history.back();"><button type="button" class="btn btn-secondary btn-sm">뒤로</button></a>
		<a th:href="@{/notice/main(currentPage=0)}"><button type="button" class="btn btn-secondary btn-sm">목록</button></a>
	</div>
</div>

<hr>

<!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" class="container-md" th:insert="html/footer.html :: footerFragment"></div>.
</body>
</html>