<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">
<!-----------------------------------------------------------------------------------------  -->

<!-- clipboard.min.js 영역 -->
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
<script type="text/javascript">	
	var clipboard = new ClipboardJS('.clipboardMinBtn');
	
	clipboard.on('success', function(e) {
	    console.info('Action:', e.action);
	    console.info('Text:', e.text);
	    console.info('Trigger:', e.trigger);
	
	    e.clearSelection();
	});
	
	clipboard.on('error', function(e) {
	    console.error('Action:', e.action);
	    console.error('Trigger:', e.trigger);
	});
</script>
<!-- ------------------------- -->
	<div id="navFooter-load" th:insert="html/navfooter.html :: navFooterFragment"></div>
	<div class="container">
	<ul class="nav justify-content-center">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="/plus/encrypt/main"><button type="button" class="btn btn-outline-primary btn-sm">암호화 메인</button></a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/plus/encrypt/aes256/decrypt/main"><button type="button" class="btn btn-outline-secondary btn-sm">AES 복호화</button></a>
	  </li>
	</ul>
	</div>	


	<div class="container-md" id="aes256FormContainer">
		<form action="/plus/encrypt/aes256/encrypt">
		  <div class="mb-3">
		    <label for="aes256Key" class="form-label">Aes256-Key</label>
		    <input type="text" class="form-control" id="aes256Key" name="aes256Key" aria-describedby="aes256KeyHelp">
		    <div id="aes256KeyHelp" class="form-text">Aes256에서의 Key는 32Byte입니다.</div>
		  </div>
		  
		  <div class="mb-3">
		    <label for="aes256Iv" class="form-label">Aes256-Iv</label>
		    <input type="text" class="form-control" id="aes256Iv"  name="aes256Iv" aria-describedby="aes256IvHelp">
		    <div id="aes256IvHelp" class="form-text">Aes256에서의 Iv는 16Byte입니다.</div>
		  </div>
		  
		  <div class="mb-3">
		    <label for="aes256Content" class="form-label">Content</label>
		    <input type="text" class="form-control" id="aes256Content" name="aes256Content" aria-describedby="aes256ContentHelp">
		    <div id="aes256ContentHelp" class="form-text">암호화를 원하는 정보를 기입하는 영역입니다.</div>
		  </div>
		  
		  <button type="submit" class="btn btn-primary">암호화</button>
		</form>
		
		<br>
		
		<div class="d-grid gap-3">
			<div class="p-2 bg-light border">
				<span class="badge bg-secondary">After Encrypt</span> 
			  	<br>
			  	<br>
			  	<div class="form-floating">
				  <textarea class="form-control" id="encryptContentSpan" placeholder="Leave a comment here" th:if="${not #strings.isEmpty(encryptContent)}" th:text="${encryptContent}" style="height: 100px"></textarea> <!-- 암호화 한 값이 있을경우  -->
				  <textarea class="form-control" id="encryptContentSpan" placeholder="Leave a comment here" th:if="${#strings.isEmpty(encryptContent)}" style="height: 100px">암호화를 먼저 진행해 주세요.</textarea> <!-- 암호화 한 값이 없을경우  -->
				<label for="floatingSelect">RSA 암호화 데이터</label>
				</div>
				<br>
				<button class="clipboardMinBtn btn btn-primary btn-sm" data-clipboard-action="copy" data-clipboard-target="#encryptContentSpan">copy</button><!--clipboard.min.js 호출버튼  -->
	  		</div>
  		</div>
	</div>

<!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" th:insert="html/footer.html :: footerFragment"></div>
</body>
</html>