<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">
<!-----------------------------------------------------------------------------------------  -->
	<div id="navFooter-load" th:insert="html/navfooter.html :: navFooterFragment"></div>
	
	<div class="row">
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-body">
	        <h5 class="card-title">AES 암호화</h5>
	        <p class="card-text">AES 키 정보와 데이터가 있다면 AES 암호화를 진행할 수 있습니다.</p>
	        <a href="/plus/encrypt/aes256/encrypt/main" class="btn btn-primary">AES 암호화하기</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-body">
	        <h5 class="card-title">AES 복호화</h5>
	        <p class="card-text">AES 키 정보와 데이터가 있다면 AES 복호화를 진행할 수 있습니다.</p>
	        <a href="/plus/encrypt/aes256/decrypt/main" class="btn btn-primary">AES 복호화하기</a>
	      </div>
	    </div>
	  </div>
	</div>
	
<!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" th:insert="html/footer.html :: footerFragment"></div>
</body>
</html>