<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">
<!-----------------------------------------------------------------------------------------  -->


	<div class="container-md" id="bfsContainer">
		<form action="/algorithm/bfs/search/short/distance" method="post">
		  <div class="mb-3">
		    <label for="bfsrow" class="form-label">Row</label>
		    <input type="number" placeholder="ex) 3, 4, 5, . . ." class="form-control" id="bfsrow" name="bfsrow" aria-describedby="bfsrowHelp" th:value="${bfsrow}">
		    <div id="bfsrowHelp" class="form-text">행을 입력해 주세요.</div>
		  </div>
		  
		  <div class="mb-3">
		    <label for="bfscol" class="form-label">Col</label>
		    <input type="number" placeholder="ex) 3, 4, 5, . . ." class="form-control" id="bfscol" name="bfscol" aria-describedby="bfscolHelp" th:value="${bfscol}">
		    <div id="bfscolHelp" class="form-text">열을 입력해 주세요.</div>
		  </div>
		  
  		  <div class="mb-3">
		    <label for="bfsStartRow" class="form-label">StartRow</label>
		    <input type="number" placeholder="ex) 3, 4, 5, . . ." class="form-control" id="bfsStartRow" name="bfsStartRow" aria-describedby="bfsStartRowHelp" th:value="${bfsStartRow}">
		    <div id="bfsStartRowHelp" class="form-text">시작행을 입력해 주세요.</div>
		  </div>

  		  <div class="mb-3">
		    <label for="bfsStartCol" class="form-label">StartCol</label>
		    <input type="number" placeholder="ex) 3, 4, 5, . . ." class="form-control" id="bfsStartCol" name="bfsStartCol" aria-describedby="bfsStartColHelp" th:value="${bfsStartCol}">
		    <div id="bfsStartColHelp" class="form-text">시작열을 입력해 주세요.</div>
		  </div>
		  
   		  <div class="mb-3">
		    <label for="bfsEndRow" class="form-label">EndRow</label>
		    <input type="number" placeholder="ex) 3, 4, 5, . . ." class="form-control" id="bfsEndRow" name="bfsEndRow" aria-describedby="bfsEndRowHelp" th:value="${bfsEndRow}">
		    <div id="bfsEndRowHelp" class="form-text">도착행을 입력해 주세요.</div>
		  </div>

   		  <div class="mb-3">
		    <label for="bfsEndCol" class="form-label">EndCol</label>
		    <input type="number" placeholder="ex) 3, 4, 5, . . ." class="form-control" id="bfsEndCol" name="bfsEndCol" aria-describedby="bfsEndColHelp" th:value="${bfsEndCol}">
		    <div id="bfsEndColHelp" class="form-text">도착열을 입력해 주세요.</div>
		  </div>
			
		  
		  <button type="submit" class="btn btn-primary">BFS 탐색 시작</button>
		</form>
		
		<br>
		<div class="p-2 bg-light border">
		  	<span class="badge bg-secondary">탐색 정보</span> 
		  	<br>
		  	<br>
		  	<div class="form-floating">
			  <textarea class="form-control" id="calculateDaySpan" placeholder="Leave a comment here" th:if="${not #strings.isEmpty(calculateDay)}" th:text="${calculateDay}" style="height: 100px"></textarea> 
			  <textarea class="form-control" id="calculateDaySpan" placeholder="Leave a comment here" th:if="${#strings.isEmpty(calculateDay)}" style="height: 100px">날짜 정보를 먼저 입력해 주세요.</textarea> 
			<label for="floatingSelect">날짜 정보</label>
			</div>
			<br>
	  	</div>
	</div>
	


<!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" class="container-md" th:insert="html/footer.html :: footerFragment"></div>.
</body>
</html>