<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">
<!-----------------------------------------------------------------------------------------  -->

	<!-- test2 -->
	<div class="container-md" id="calculateDayContainer">
		<form action="/util/time/calculate/day" method="post">
		  <div class="mb-3">
		    <label for="startDateStr" class="form-label">Start Date</label>
		    <input type="text" placeholder="ex) 20221208 " class="form-control" id="startDateStr" name="startDateStr" aria-describedby="startDateStrHelp" th:value="${startDateStr}">
		    <div id="startDateStrHelp" class="form-text">시작 날짜를 입력해 주세요.</div>
		  </div>
		  
		  <div class="mb-3">
		    <label for="EndDateStr" class="form-label">End Date</label>
		    <input type="text" placeholder="ex) 20221208 " class="form-control" id="EndDateStr" name="EndDateStr" aria-describedby="EndDateStrHelp" th:value="${endDateStr}">
		    <div id="EndDateStrHelp" class="form-text">끝나는 날짜를 입력해 주세요.</div>
		  </div>
		  
		  <button type="submit" class="btn btn-primary">날짜 차이 확인하기</button>
		</form>
		
		<br>
		<div class="p-2 bg-light border">
		  	<span class="badge bg-secondary">날짜 정보</span> 
		  	<br>
		  	<br>
		  	<div class="form-floating">
			  <textarea class="form-control" id="calculateDaySpan" placeholder="Leave a comment here" th:if="${not #strings.isEmpty(calculateDay)}" th:text="${calculateDay}" style="height: 100px"></textarea> 
			  <textarea class="form-control" id="calculateDaySpan" placeholder="Leave a comment here" th:if="${#strings.isEmpty(calculateDay)}" style="height: 100px">날짜 정보를 먼저 입력해 주세요.</textarea> 
			<label for="floatingSelect">날짜 정보</label>
			</div>
			<br>
	  	</div>
	</div>

<!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" class="container-md" th:insert="html/footer.html :: footerFragment"></div>.
</body>
</html>