<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">
    <!-----------------------------------------------------------------------------------------  -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        function dateFormatCheck() {
            const regexDate = "^" + [[${regexDateDefaultPermit}]] + "$";
            const dateInfo = new RegExp(`${regexDate}`)
            console.log(dateInfo)
            if (!dateInfo.test($("#startDateStr").val())) {
                $("#startDateCheckSpan").text("시작날짜의 형식이 맞지 않습니다.").addClass("red")
                $("#startDateStr").focus()
                return false;
            } else {
                $("#startDateCheckSpan").text("").removeClass("red")
            }

            if (!dateInfo.test($("#EndDateStr").val())) {
                $("#endDateCheckSpan").text("종료날짜의 형식이 맞지 않습니다.").addClass("red")
                $("#EndDateStr").focus()
                return false;
            } else {
                $("#endDateCheckSpan").text("").removeClass("red")
            }

            if ($("#EndDateStr").val() < $("#startDateStr").val()) {
                $("#startDateCheckSpan").text("시작날짜가 종료날짜 보다 큽니다.").addClass("red")
                $("#endDateCheckSpan").text("종료날짜의 시작날짜 보다 작습니다.").addClass("red")
                $("#startDateStr").focus()
                return false;
            }

        }

        /*]]>*/
    </script>

    <!-- test2 -->
    <div class="container-md" id="calculateDayContainer">
        <form action="/plus/util/time/calculate/day/action" method="post" onsubmit="return dateFormatCheck()">
            <div class="mb-3">
                <label for="startDateStr" class="form-label">Start Date</label>
                <input type="text" placeholder="ex) 20221208 " class="form-control" id="startDateStr"
                       name="startDateStr" aria-describedby="startDateStrHelp" th:value="${startDateStr}">
                <div id="startDateStrHelp" class="form-text"><span id="startDateCheckSpan">시작 날짜를 입력해 주세요.</span></div>
            </div>
            <div class="mb-3">
                <label for="EndDateStr" class="form-label">End Date</label>
                <input type="text" placeholder="ex) 20221208 " class="form-control" id="EndDateStr" name="EndDateStr"
                       aria-describedby="EndDateStrHelp" th:value="${endDateStr}">
                <div id="EndDateStrHelp" class="form-text"><span id="endDateCheckSpan">끝나는 날짜를 입력해 주세요.</span></div>
            </div>
            <button type="submit" class="btn btn-primary">날짜 차이 확인하기</button>
        </form>

        <br>
        <div class="p-2 bg-light border">
            <span class="badge bg-secondary">날짜 정보</span>
            <br>
            <br>
            <div class="form-floating">
                <label for="calculateDaySpan"></label><textarea class="form-control" id="calculateDaySpan"
                                                                placeholder="Leave a comment here"
                                                                th:if="${not #strings.isEmpty(calculateDay)}"
                                                                th:text="${calculateDay}"
                                                                style="height: 100px"></textarea>
                <label for="calculateDaySpanNone"></label><textarea class="form-control" id="calculateDaySpanNone"
                                                                    placeholder="Leave a comment here"
                                                                    th:if="${#strings.isEmpty(calculateDay)}"
                                                                    style="height: 100px">날짜 정보를 먼저 입력해 주세요.</textarea>
                <label>날짜 정보</label>
            </div>
            <br>
        </div>
    </div>

    <br>
    <br>
    <div class="position-relative">
        <div class="position-absolute bottom-0 end-50">
            <a href="/plus/util/time/main">
                <button type="button" class="btn btn-primary">목록</button>
            </a>
        </div>
    </div>
    <!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" th:insert="html/footer.html :: footerFragment"></div>
</body>
</html>