<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">
<!-----------------------------------------------------------------------------------------  -->
	<script th:inline="javascript">
		/*<![CDATA[*/
		function dateFormatCheck (){
			const regexDate = "^" +[[${regexDateDefaultPermit}]] + "$";
			const dateInfo = new RegExp(`${regexDate}`)
			console.log(dateInfo)
			if(!dateInfo.test($("#dayInfo").val())){
				$("#dayInfoSpan").text("날짜 형식이 맞지 않습니다. ex) 20221224 ").addClass("red")
				$("#dayInfo").focus()
				return false;
			}else{
				$("#dayInfoSpan").text("").removeClass("red")
			}
		}
		/*]]>*/
	</script>

	<div id="navFooter-load" th:insert="html/navfooter.html :: navFooterFragment"></div>
	<div class="container-md">
		<div class="row">
			<form action="/plus/util/time/get/day/of/the/week/action" method="post" onsubmit="return dateFormatCheck()">
			<div class="col-md-6 mx-auto">
				<img id="calendarImg" class="d-block mx-auto mb-4" src="/bootstrap-icons-1.10.3/calendar-day.svg" alt="" width="120" height="100">

				<!-- Date Picker Input -->
				<div class="form-group mb-4">
					<div class="datepicker date input-group p-0 shadow-sm">
						<label for="dayInfo"></label><input id="dayInfo" name="dayInfo" type="text" placeholder="날짜를 선택하거나 입력해 주세요 ex) 20221224" class="form-control py-4 px-4">
						<div class="input-group-append"></div>
					</div>
				</div><!-- DEnd ate Picker Input -->

				<!-- For Demo Purpose -->
				<div class="text-center">
					<p class="font-italic text-muted mb-0">직접 날짜를 찾아 요일을 확인할 수도 있고, 입력하여 요일을 확인할 수도 있습니다.</p>
					<div id="dayInfoHelp" class="form-text"><span id="dayInfoSpan"></span></div>
					<h4 id="pickedDate" class="font-weight-bold text-uppercase mb-3"></h4>
					<button type="submit" class="btn btn-primary">확인</button>
				</div>
				<br>

				<div class="p-2 bg-light border">
					<span class="badge bg-secondary">요일 정보</span>
					<br>
					<br>
					<div class="form-floating">
						<label for="dayOfTheWeekSpan"></label><textarea class="form-control" id="dayOfTheWeekSpan" placeholder="Leave a comment here" th:if="${not #strings.isEmpty(dayOfTheWeek)}" th:text="${dayOfTheWeek}" style="height: 100px"></textarea>
						<label for="dayOfTheWeekSpanNone"></label><textarea class="form-control" id="dayOfTheWeekSpanNone" placeholder="Leave a comment here" th:if="${#strings.isEmpty(dayOfTheWeek)}" style="height: 100px">요일 정보를 먼저 입력해 주세요.</textarea>
					</div>
					<br>
				</div>
				<br>

				<div class="text-center">
					<a href="/plus/util/time/main"><button type="button" class="btn btn-primary">목록</button></a>
				</div>
			</div>
			</form>
		</div>
	</div>
<!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" th:insert="html/footer.html :: footerFragment"></div>
</body>
<script>
	$(function () {

		// INITIALIZE DATEPICKER PLUGIN
		$('.datepicker').datepicker({
			clearBtn: true,
			format: "yyyymmdd",
			language: 'ko'
		});


		// FOR DEMO PURPOSE
		$('#reservationDate').on('change', function () {
			let pickedDate = $('input').val();
			$('#pickedDate').html(pickedDate);
		});
	});

</script>
</html>