<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">
<!-----------------------------------------------------------------------------------------  -->



    <!-- Three columns of text below the carousel -->
	<div id="navFooter-load" th:insert="html/navfooter.html :: navFooterFragment"></div>
	<div class="row">
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-body">
	        <h5 class="card-title">요일 구하기 <img src="/bootstrap-icons-1.10.3/calendar-day.svg" alt="calendar-day.svg" width="25" height="25"></h5>
	        <p class="card-text">년 / 월 / 일을 입력하면 해당 일자의 요일을 확인할 수 있습니다. </p>
	        <a href="/plus/util/time/get/day/of/the/week/main" class="btn btn-primary">Go Util</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-body">
	        <h5 class="card-title">날짜 차이 계산</h5>
	        <p class="card-text">주어진 두 날짜간의 차이를 구할 수 있습니다.</p>
	        <a href="/plus/util/time/calculate/day/main" class="btn btn-primary">Go Util</a>
	      </div>
	    </div>
	  </div>
	</div>
	


<!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" th:insert="html/footer.html :: footerFragment"></div>
</body>
</html>