<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">
    <!-----------------------------------------------------------------------------------------  -->
    <div id="navFooter-load" th:insert="html/navfooter.html :: navFooterFragment"></div>
    <div class="container-md d-flex justify-content-center">

		<div class="card text-center w-50">
            <div class="card-header">

            </div>
            <div class="card-body">
                <h5 class="card-title">IP 정보 확인</h5>
                <p class="card-text" th:text="|아이피: ${ip}|"></p>
                <p class="card-text" th:text="|국가: ${country}|"></p>
                <a href="/plus/util/etc/main" class="btn btn-primary">목록</a>
            </div>
            <div class="card-header">

            </div>
        </div>

    </div>
    <!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" th:insert="html/footer.html :: footerFragment"></div>
</body>
</html>