<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">
<!-----------------------------------------------------------------------------------------  -->

<!-- clipboard.min.js 영역 -->
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
<script type="text/javascript">	
	var clipboard = new ClipboardJS('.clipboardMinBtn');
	
	clipboard.on('success', function(e) {
	    console.info('Action:', e.action);
	    console.info('Text:', e.text);
	    console.info('Trigger:', e.trigger);
	
	    e.clearSelection();
	});
	
	clipboard.on('error', function(e) {
	    console.error('Action:', e.action);
	    console.error('Trigger:', e.trigger);
	});
</script>
<!-- ------------------------- -->	


	<div class="container">
	<ul class="nav justify-content-center">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="/encrypt/main"><button type="button" class="btn btn-outline-primary btn-sm">암호화 메인</button></a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/encrypt/rsa/key/make/main"><button type="button" class="btn btn-outline-secondary btn-sm">RSA 키 생성</button></a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/encrypt/rsa/content/encrypt/main"><button type="button" class="btn btn-outline-secondary btn-sm">RSA 암호화</button></a>
	  </li>
	</ul>
	</div>	
	
	<div class="container-md" id="rsaContentDecryptFormContainer">
		<form action="/encrypt/rsa/content/decrypt">
		  <div class="mb-3">
		    <label for="rsaPrivateKey" class="form-label">비밀키 정보</label>
		    <input type="text" class="form-control" id="rsaPrivateKey" name="rsaPrivateKey" aria-describedby="rsaPrivateKeyHelp">
		    <div id="rsaPrivateKeyHelp" class="form-text">비밀키 정보를 입력해주세요.</div>
		  </div>
		  
		  <div class="mb-3">
		    <label for="rsaAfterContent" class="form-label">Content</label>
		    <input type="text" class="form-control" id="rsaAfterContent"  name="rsaAfterContent" aria-describedby="rsaAfterContentHelp">
		    <div id="rsaAfterContentHelp" class="form-text">복호화 하고 싶은 내용을 적어주세요.</div>
		  </div>
		    
		  <button type="submit" class="btn btn-primary">복호화</button>
		</form>
		
		<br>
		<div class="p-2 bg-light border">
		  	<span class="badge bg-secondary">After Encrypt</span> 
		  	<br>
		  	<br>
		  	<div class="form-floating">
			  <textarea class="form-control" id="decryptContentSpan" placeholder="Leave a comment here" th:if="${not #strings.isEmpty(decryptContent)}" th:text="${decryptContent}" style="height: 100px"></textarea> <!-- 암호화 한 값이 있을경우  -->
			  <textarea class="form-control" id="decryptContentSpan" placeholder="Leave a comment here" th:if="${#strings.isEmpty(decryptContent)}" style="height: 100px">복호화를 먼저 진행해 주세요.</textarea> <!-- 암호화 한 값이 없을경우  -->
			<label for="floatingSelect">RSA 복호화 데이터</label>
			</div>
			<br>
			<button class="clipboardMinBtn btn btn-primary btn-sm" data-clipboard-action="copy" data-clipboard-target="#decryptContentSpan">copy</button><!--clipboard.min.js 호출버튼  -->		
	  	</div>
	</div>

<!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" class="container-md" th:insert="html/footer.html :: footerFragment"></div>.
</body>
</html>