<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">
<!-----------------------------------------------------------------------------------------  -->

<!-- clipboard.min.js 영역 -->
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
<script type="text/javascript">	
	var clipboard = new ClipboardJS('.clipboardMinBtn');
	
	clipboard.on('success', function(e) {
	    console.info('Action:', e.action);
	    console.info('Text:', e.text);
	    console.info('Trigger:', e.trigger);
	
	    e.clearSelection();
	});
	
	clipboard.on('error', function(e) {
	    console.error('Action:', e.action);
	    console.error('Trigger:', e.trigger);
	});
</script>
<!-- ------------------------- -->	

	<div class="container">
	<ul class="nav justify-content-center">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="/plus/encrypt/main"><button type="button" class="btn btn-outline-primary btn-sm">암호화 메인</button></a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/plus/encrypt/rsa/content/encrypt/main"><button type="button" class="btn btn-outline-secondary btn-sm">RSA 암호화</button></a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/plus/encrypt/rsa/content/decrypt/main"><button type="button" class="btn btn-outline-secondary btn-sm">RSA 복호화</button></a>
	  </li>
	</ul>
	</div>	


	<div class="container-md" id="rsaKeyMakeFormContainer">
		<form action="/plus/encrypt/rsa/key/make">
		  <button type="submit" class="btn btn-primary">키 생성</button>
		</form>	
		<br>
		<div class="d-grid gap-3 ">
		  <div class="p-2 bg-light border">
		  	<span class="badge bg-secondary">공개키</span> 
		  	<br>
		  	<br>
		  	<div class="form-floating">
			  <textarea class="form-control" id="publicKeySpan" placeholder="Leave a comment here" th:if="${not #strings.isEmpty(publicKey)}" th:text="${publicKey}" style="height: 100px"></textarea> <!-- 키발행하여 값이 있을경우  -->
			  <textarea class="form-control" id="publicKeySpan" placeholder="Leave a comment here" th:if="${#strings.isEmpty(publicKey)}" style="height: 100px">키를 생성해주세요.</textarea> <!-- 키발행하여 값이 없을경우  -->
			<label for="floatingSelect">RSA 공개키 정보</label>
			</div>
			<br>
			<button class="clipboardMinBtn btn btn-primary btn-sm" data-clipboard-action="copy" data-clipboard-target="#publicKeySpan">copy</button><!--clipboard.min.js 호출버튼  -->		
		  </div>
		  <div class="p-2 bg-light border">
		  	<span class="badge bg-secondary">비밀키</span> 
		  	<br>
		  	<br>
		  	<div class="form-floating">
			  <textarea class="form-control" id="privateKeySpan" placeholder="Leave a comment here" th:if="${not #strings.isEmpty(privateKey)}" th:text="${privateKey}" style="height: 100px"></textarea>
			  <textarea class="form-control" id="privateKeySpan" placeholder="Leave a comment here" th:if="${#strings.isEmpty(privateKey)}" style="height: 100px">키를 생성해주세요.</textarea>
			  <label for="floatingSelect">RSA 비밀키 정보</label>	
			</div>
			<br>
			<button class="clipboardMinBtn btn btn-primary btn-sm" data-clipboard-action="copy" data-clipboard-target="#privateKeySpan">copy</button><!--clipboard.min.js 호출버튼  -->
		  </div>
  		</div>
	</div>
<!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" th:insert="html/footer.html :: footerFragment"></div>
</body>
</html>