<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">
<!-----------------------------------------------------------------------------------------  -->

<!-- clipboard.min.js 영역 -->
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript">
	var clipboard = new ClipboardJS('.clipboardMinBtn');

	clipboard.on('success', function(e) {
	    console.info('Action:', e.action);
	    console.info('Text:', e.text);
	    console.info('Trigger:', e.trigger);
		if(e.text === ""){
			Swal.fire({
				icon:'error'
				,text:'빈 문자열 입니다!'
				,confirmButtonColor :'#d33'
			})
		}else{
			Swal.fire({
				icon: 'success'
				,text:'복사 완료!'
				,confirmButtonColor :'#0d1b2a'
			})
		}
	    e.clearSelection();
	});
	
	clipboard.on('error', function(e) {
	    console.error('Action:', e.action);
	    console.error('Trigger:', e.trigger);
		Swal.fire({
			title:'error'
			,text:'오류가 발생했습니다!'
			,confirmButtonColor :'#d33'
		})
	});
</script>
<!-- ------------------------- -->
	<div id="navFooter-load" th:insert="html/navfooter.html :: navFooterFragment"></div>
	<div class="container">
	<ul class="nav justify-content-center">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="/plus/encrypt/main"><button type="button" class="btn btn-outline-primary btn-sm">암호화 메인</button></a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/plus/encrypt/rsa/content/encrypt/main"><button type="button" class="btn btn-outline-secondary btn-sm">RSA 암호화</button></a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/plus/encrypt/rsa/content/decrypt/main"><button type="button" class="btn btn-outline-secondary btn-sm">RSA 복호화</button></a>
	  </li>
	</ul>
	</div>


	<section class="contact">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>RSA 키생성</h2>
			</div>
			<div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
				<form action="/plus/encrypt/rsa/key/make" method="post" role="form" class="php-email-form">
					<div class="text-center"><h4>공개키</h4></div>
					<div id="publicKeyDiv" class="border rounded text-center my-2 p-4 overflow-scroll">
						<h6 id="publicKeyH6" th:if="${not #strings.isEmpty(publicKey)}"
							th:text="${publicKey}"></h6>
					</div>
					<div id="publicKeyDivHelp" class="form-text text-center"><button class="clipboardMinBtn btn btn-secondary btn-sm" type="button" data-clipboard-action="copy" data-clipboard-target="#publicKeyH6">복사</button></div>
					<br>
					<div class="text-center"><h4>비밀키</h4></div>
					<div id="privateKeyDiv" class="border rounded text-center my-2 p-4 overflow-scroll">
						<h6 id="privateKeyH6" th:if="${not #strings.isEmpty(privateKey)}"
							th:text="${privateKey}"><b>필요한 데이터를 우선 입력해 주세요.</b></h6>
					</div>
					<div id="privateKeyDivHelp" class="form-text text-center"><button class="clipboardMinBtn btn btn-secondary btn-sm" type="button" data-clipboard-action="copy" data-clipboard-target="#privateKeyH6">복사</button></div>
					<br>
					<div class="text-center">
						<p> 키생성시 공개키 비밀키 모두 생성됩니다.</p>
					</div>
					<div class="text-center"><button type="submit">키생성</button></div>
				</form>
			</div>
		</div>
	</section><!-- End Contact Section -->
<!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" th:insert="html/footer.html :: footerFragment"></div>
</body>
</html>