<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">
<!-----------------------------------------------------------------------------------------  -->

<!-- clipboard.min.js 영역 -->
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
<script type="text/javascript">	
	var clipboard = new ClipboardJS('.clipboardMinBtn');
	
	clipboard.on('success', function(e) {
	    console.info('Action:', e.action);
	    console.info('Text:', e.text);
	    console.info('Trigger:', e.trigger);
	
	    e.clearSelection();
	});
	
	clipboard.on('error', function(e) {
	    console.error('Action:', e.action);
	    console.error('Trigger:', e.trigger);
	});
</script>
<!-- ------------------------- -->	

	<div class="row">
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-body">
	        <h5 class="card-title">RSA 키 생성</h5>
	        <p class="card-text">RSA 공개키와 비밀키가 없다면 해당 생성할 수 있습니다.</p>
	        <a href="/plus/encrypt/rsa/key/make/main" class="btn btn-primary">RSA 키 생성하기</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-body">
	        <h5 class="card-title">RSA 암호화</h5>
	        <p class="card-text">RSA 공개키와 데이터가 있다면 RSA 암호화를 진행할 수 있습니다.</p>
	        <a href="/plus/encrypt/rsa/content/encrypt/main" class="btn btn-primary">내용 암호화 하기</a>
	      </div>
	    </div>
	  </div>
	</div>
	
	<hr>
	
	<div class="row">
	<div class="col-sm-6">
	    <div class="card">
	      <div class="card-body">
	        <h5 class="card-title">RSA 복호화</h5>
	        <p class="card-text">RSA 비밀키와 암호화된 데이터가 있다면 RSA 복호화를 진행할 수 있습니다.</p>
	        <a href="/plus/encrypt/rsa/content/decrypt/main" class="btn btn-primary">내용 복호화 하기</a>
	      </div>
	    </div>
	  </div>
	</div>

<!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" th:insert="html/footer.html :: footerFragment"></div>
</body>
</html>