<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">
<!-----------------------------------------------------------------------------------------  -->

<!-- clipboard.min.js 영역 -->
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
<script type="text/javascript">	
	var clipboard = new ClipboardJS('.clipboardMinBtn');
	
	clipboard.on('success', function(e) {
	    console.info('Action:', e.action);
	    console.info('Text:', e.text);
	    console.info('Trigger:', e.trigger);
	
	    e.clearSelection();
	});
	
	clipboard.on('error', function(e) {
	    console.error('Action:', e.action);
	    console.error('Trigger:', e.trigger);
	});
</script>
<!-- ------------------------- -->
	<div id="navFooter-load" th:insert="html/navfooter.html :: navFooterFragment"></div>
	<section class="services section-bg">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>RSA 암호화</h2>
				<p>현재 SSL/TLS에 가장 많이 사용되는 공개키 암호화 알고리즘이다. 전세계 대부분의 인터넷 뱅킹(대한민국 포함)이 이 RSA-2048 암호화를 사용한다.
					'암호화할 때에는 마음대로였겠지만 해독할 때에는 아니다'를 기본 모토로 한 공개키 암호체계 중 하나이다. 공개키와 개인키가 한 쌍을 이루며,
					공개키로 암호화한 내용은 개인키로만, 개인키로 암호화한 내용은 공개키로만 해독할 수 있다. 엄청 큰 숫자는 소인수분해하기가 힘들다는 것을 이용한다.
					1977년 이 체제를 개발한 Ron Rivest, Adi Shamir, Leonard Adleman 세 사람의 성을 따서 RSA 라고 이름이 붙은 암호 방식이다.</p>
			</div>
			<div class="row d-flex">
				<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 justify-content-center" data-aos="zoom-in" data-aos-delay="100">
					<div class="icon-box">
						<div class="icon"><i class="bx bx-hash"></i></div>
						<h4><a href="/plus/encrypt/rsa/key/make/main"><strong>RSA 키 생성</strong></a></h4>
						<p> RSA 공개키와 비밀키가 없다면 해당 생성할 수 있습니다.</p>
					</div>
				</div>
				<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 justify-content-center" data-aos="zoom-in" data-aos-delay="200">
					<div class="icon-box">
						<div class="icon"><i class="bx bx-hash"></i></div>
						<h4><a href="/plus/encrypt/rsa/content/encrypt/main"><strong>RSA 암호화</strong></a></h4>
						<p> RSA 공개키와 데이터가 있다면 RSA 암호화를 진행할 수 있습니다.</p>
					</div>
				</div>
				<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 justify-content-center" data-aos="zoom-in" data-aos-delay="200">
					<div class="icon-box">
						<div class="icon"><i class="bx bx-hash"></i></div>
						<h4><a href="/plus/encrypt/rsa/content/decrypt/main"><strong>RSA 복호화</strong></a></h4>
						<p> RSA 비밀키와 암호화된 데이터가 있다면 RSA 복호화를 진행할 수 있습니다.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div th:insert="html/padding/padding-2x-lg.html :: padding-2x-lg-Fragment"></div>
<!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" th:insert="html/footer.html :: footerFragment"></div>
</body>
</html>