<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">
<!-----------------------------------------------------------------------------------------  -->
	<div class="container-md" id="joinFormContainer">
		<form action="/join/action" method="post">
		  <div class="mb-3">
		    <label for="userEmail" class="form-label">아이디</label>
		    <input type="email" class="form-control" id="userEmail" name="userEmail" aria-describedby="userEmailHelp">
		    <div id="userEmailHelp" class="form-text">이메일 주소를 입력하세요.</div>
		  </div>
		  <div class="mb-3">
		    <label for="userPassword" class="form-label">비밀번호</label>
		    <input type="password" class="form-control" id="userPassword" name="userPassword">
		  </div>
		  <button type="submit" class="btn btn-primary">회원가입</button>
		</form>
	</div>
<!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" class="container-md" th:insert="html/footer.html :: footerFragment"></div>.
</body>
</html>