<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">
    <!-----------------------------------------------------------------------------------------  -->

    <section id="about" class="about">
        <div class="container">

            <div th:switch="${joinSuccess}">
                <span th:case="true">회원가입에 성공했습니다.</span>
                <span th:case="false">회원가입에 실패했습니다.</span>
            </div>
        </div>
    </section><!-- End About Us Section -->
    <!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" th:insert="html/footer.html :: footerFragment"></div>
</body>
</html>