<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">
    <!-----------------------------------------------------------------------------------------  -->
    <div id="navFooter-load" th:insert="html/navfooter.html :: navFooterFragment"></div>
    <section id="about" class="about">
        <div class="container">
            <div class="container-md" id="loginFormContainer">
                <form id="frm" name="frm" action="/plus/login/action" method="post">
                    <div class="mb-3">
                        <label for="userEmail" class="form-label">아이디</label>
                        <input type="email" class="form-control" id="userEmail" name="userEmail"
                               aria-describedby="userEmailHelp">
                        <div id="userEmailHelp" class="form-text">가입한 이메일 주소를 입력하세요.</div>
                    </div>
                    <div class="mb-3">
                        <label for="userPassword" class="form-label">비밀번호</label>
                        <input type="password" class="form-control" id="userPassword" name="userPassword">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me">
                        <label class="form-check-label" for="remember-me">로그인 유지</label>
                    </div>
                    <button type="submit" class="btn btn-primary">로그인</button>
                </form>
            </div>
        </div>
    </section><!-- End About Us Section -->
    <!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" th:insert="html/footer.html :: footerFragment"></div>
</body>
</html>