<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">
    <!-----------------------------------------------------------------------------------------  -->
    <div id="navFooter-load" th:insert="html/navfooter.html :: navFooterFragment"></div>
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>DFS 탐색</h2>
                <p>전체 탐색 배열에 사이즈와 탐색하고자 하는 시작 위치 도착하고자 하는 위치를 입력한 후 확인 버튼을 누르면 최단 거리를 확인할 수 있습니다.</p>
            </div>

            <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form action="/plus/algorithm/dfs/search/short/distance" method="post" role="form" class="php-email-form">

                    <div class="text-center"><h4>최단거리 <i class="bx bi-graph-up"></i></h4></div>
                    <div id="shortDistance" class="border rounded text-center my-2 p-4">
                        <h6 th:if="${not #strings.isEmpty(dfsSearchResult)}"
                            th:text="|탐색결과 : ${dfsSearchResult}|"><b>탐색에 필요한 데이터를 우선 입력해 주세요.</b></h6>
                    </div>
                    <div id="shortDistanceHelp" class="form-text text-center">아래 데이터를 입력하면 최단거리를 확인할 수 있습니다.</div>
                    <br>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="dfsRow">Row</label>
                            <input type="number" placeholder="ex) 3, 4, 5, . . ." name="dfsRow" class="form-control" id="dfsRow" th:value="${dfsRow}" required>
                            <div id="dfsRowHelp" class="form-text">행을 입력해 주세요. [15 까지 입력가능]</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="dfsCol">Col</label>
                            <input type="number" placeholder="ex) 3, 4, 5, . . ." name="dfsCol" class="form-control" id="dfsCol" th:value="${dfsCol}" required>
                            <div id="dfsColHelp" class="form-text">열을 입력해 주세요. [15 까지 입력가능]</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="dfsStartRow">StartRow</label>
                            <input type="number" placeholder="ex) 3, 4, 5, . . ." name="dfsStartRow" class="form-control" id="dfsStartRow" th:value="${dfsStartRow}" required>
                            <div id="dfsStartRowHelp" class="form-text">시작행을 입력해 주세요. [14 까지 입력가능]</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="dfsStartCol">StartCol</label>
                            <input type="number" placeholder="ex) 3, 4, 5, . . ." name="dfsStartCol" class="form-control" id="dfsStartCol" th:value="${dfsStartCol}" required>
                            <div id="dfsStartColHelp" class="form-text">시작열을 입력해 주세요. [14 까지 입력가능]</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="dfsEndRow">EndRow</label>
                            <input type="number" placeholder="ex) 3, 4, 5, . . ." name="dfsEndRow" class="form-control" id="dfsEndRow" th:value="${dfsEndRow}" required>
                            <div id="dfsEndRowHelp" class="form-text">도착행을 입력해 주세요. [15 까지 입력가능]</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="dfsEndCol">EndCol</label>
                            <input type="number" placeholder="ex) 3, 4, 5, . . ." name="dfsEndCol" class="form-control" id="dfsEndCol" th:value="${dfsEndCol}" required>
                            <div id="dfsEndColHelp" class="form-text">도착열을 입력해 주세요. [15 까지 입력가능]</div>
                        </div>
                    </div>
                    <div class="text-center"><button type="submit">확인</button></div>
                </form>
            </div>

        </div>

    </section><!-- End Contact Section -->
    <!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" th:insert="html/footer.html :: footerFragment"></div>
</body>
</html>