<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PLUS-UTIL</title>
</head>
<body>

<div th:fragment="navFragment">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-md">
    <a class="navbar-brand" href="/home">Plus-Util</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/notice/main">공지사항
			<span class="badge bg-success">new</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            보안
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/encrypt/main/">암호화</a></li>
            <li><a class="dropdown-item disabled" href="#">시큐리티코딩</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            유틸
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/util/time/main">시간</a></li>
            <li><a class="dropdown-item" href="/util/string/main">문자</a></li>
            <li><a class="dropdown-item" href="/util/etc/main">기타</a></li>
            <li><a class="dropdown-item disabled" href="#">SQL</a></li>
<!--
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">[추가 예정]</a></li>
-->
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            알고리즘
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/algorithm/graph/main">그래프이론</a></li>
            <li><a class="dropdown-item" href="#">완전탐색</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
     
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary  me-2" type="submit">                
        	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  			<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
            </svg>
		</button>
           
        <th:block th:if="${not #strings.isEmpty(AuthenticationCheck)}">
			<a href="/logout"><button class="btn btn-outline-success  me-2" type="button">Logout</button></a>
		</th:block>
        
        <th:block th:if="${#strings.isEmpty(AuthenticationCheck)}">
			<a href="/login"><button class="btn btn-outline-success  me-2" type="button">Login</button></a>
	    	<a href="/join"><button class="btn btn-outline-success  me-2" type="button">Join</button></a>
		</th:block>
		
      </form>
    </div>
  </div>
</nav>
<br>
<br>
</div>


</body>
