<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PLUS-UTIL</title>
</head>
<body>

<!-- ======= Header ======= -->
<div th:fragment="navFragment">
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a class="navbar-brand" href="/plus/home">Plus-Util</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="/plus/notice/main">공지사항</a></li>
        <!--<li><a class="nav-link scrollto" href="#about">About</a></li>-->

        <li class="dropdown"><a href="#"><span>암호화</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a class="dropdown-item" href="/plus/encrypt/main/">암호화</a></li>
            <li><a class="dropdown-item disabled" href="#">시큐리티코딩</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>유틸</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a class="dropdown-item" href="/plus/util/time/main">시간</a></li>
            <li><a class="dropdown-item" href="/plus/util/string/main">문자</a></li>
            <li><a class="dropdown-item" href="/plus/util/etc/main">기타</a></li>
            <li><a class="dropdown-item disabled" href="#">SQL</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>알고리즘</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a class="dropdown-item" href="/plus/algorithm/graph/main">그래프이론</a></li>
            <li><a class="dropdown-item" href="#">완전탐색</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>FUN</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a class="dropdown-item" href="/plus/fun/api/main">API</a></li>
            <li><a class="dropdown-item" href="#">완전탐색</a></li>
          </ul>
        </li>

        <th:block th:if="${not #strings.isEmpty(AuthenticationCheck)}">
          <li><a class="getstarted scrollto" href="/plus/logout">Logout</a></li>
        </th:block>

        <th:block th:if="${#strings.isEmpty(AuthenticationCheck)}">
          <li><a class="getstarted scrollto" href="/plus/login">Login</a></li>
          <li><a class="getstarted scrollto" href="/plus/join">Join</a></li>
        </th:block>

      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
  <!-- ======= Cliens Section ======= -->
<div>
<div style="min-height: 75px; background-color: #37517e;"></div>
</div>
</div>
</body>
