<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">
    <!-----------------------------------------------------------------------------------------  -->

    <script th:inline="javascript">
        /*<![CDATA[*/
        function DataCheck() {
            const regex = "^" +[[${regexAllPermit}]] + "{2,1000}$$";
            const content =new RegExp(`${regex}`);
            if (!content.test($("#stringContent").val())) { /* 내용 정규식 체크 2 ~ 500 자  */
                $("#contentCheckSpan").text("글자는 2 ~ 1000 의 제한이 있습니다.").addClass("red")
                $("#noticeContent").focus()
                return false;
            } else {
                $("#contentCheckSpan").text("").removeClass("red")
            }
        }
        /*]]>*/
    </script>

    <!-- test2 -->
    <div id="stringGetByteContainer" class="container-md">
        <form action="/plus/util/string/convert/ual/action" method="post" onsubmit="return DataCheck()">
            <div class="row g-3">
                <div class="col-md-2">
                    <label for="upperOrLower" class="form-label">대소문자 설정</label>
                    <select id="upperOrLower" name="upperOrLower" class="form-select">
                        <option value="upper" th:selected="${upperOrLower}=='upper'">대문자</option>
                        <option value="lower" th:selected="${upperOrLower}=='lower'">소문자</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="mb-3">
                <textarea class="form-control" id="stringContent" name="stringContent" rows="20"
                          placeholder="내용을 입력해주세요." th:text="${stringContent}"></textarea>
                <span id="contentCheckSpan"></span>
            </div>
            <button type="submit" class="btn btn-primary">문자 변환</button>
        </form>

        <br>
        <div class="p-2 bg-light border">
            <span class="badge bg-secondary">변환 정보 확인</span>
            <br>
            <br>
            <div class="form-floating">
                <textarea class="form-control" id="convertStringContentSpan" placeholder="Leave a comment here"
                          th:if="${not #strings.isEmpty(convertStringContent)}" th:text="${convertStringContent}"
                          style="height: 100px"></textarea>
                <textarea class="form-control" id="covertStringContentSpanNone" placeholder="Leave a comment here"
                          th:if="${#strings.isEmpty(convertStringContent)}"
                          style="height: 100px">문장을 우선 입력해 주세요.</textarea>
            </div>
            <br>
        </div>
    </div>

    <br>
    <br>
    <div class="position-relative">
        <div class="position-absolute bottom-0 end-50">
            <a href="/plus/util/string/main">
                <button type="button" class="btn btn-primary">목록</button>
            </a>
        </div>

    </div>

    <!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" th:insert="html/footer.html :: footerFragment"></div>
</body>
</html>