<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">
    <!-----------------------------------------------------------------------------------------  -->
    <div id="navFooter-load" th:insert="html/navfooter.html :: navFooterFragment"></div>
    <section class="services section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>문자열 유틸리티</h2>
            <p></p>
        </div>
        <div class="row d-flex">
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 justify-content-center" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-hash"></i></div>
                    <h4><a href="/plus/util/string/get/byte/main"><strong>글자 바이트 구하기</strong></a></h4>
                    <p> 입력한 글자에 따른 바이트를 계산할 수 있습니다.</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 justify-content-center" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-hash"></i></div>
                    <h4><a href="/plus/util/string/get/initial/main"><strong>한글 초성 추출 하기</strong></a></h4>
                    <p> 한글 문장 입력시 초성을 추출할 수 있습니다.</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 justify-content-center" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-hash"></i></div>
                    <h4><a href="/plus/util/string/get/length/main"><strong>글자 수 확인 하기</strong></a></h4>
                    <p> 글자(영어,한글..) 입력 시 글자 수를 확인 있습니다.</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 justify-content-center" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-hash"></i></div>
                    <h4><a href="/plus/util/string/convert/ual/main"><strong>대소문자 변경</strong></a></h4>
                    <p> 영문을 포함한 문자열을 대문자 또는 소문자로 변경할 수 있습니다.</p>
                </div>
            </div>
        </div>
    </div>
    </section>

    <section  class="services section-bg">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 justify-content-center" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-hash"></i></div>
                        <h4><a href="/plus/util/string/check/similarity/main"><strong>문자열 유사성 확인</strong></a></h4>
                        <p> 입력된 두 문자열의 유사성을 확인할 수 있습니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" th:insert="html/footer.html :: footerFragment"></div>
</body>
</html>