<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header-load" th:replace="html/head.html :: headFragment"></div>
<div id="nav-load" th:insert="html/nav.html :: navFragment"></div>

<div class="container-md">
    <!-----------------------------------------------------------------------------------------  -->
    <div id="navFooter-load" th:insert="html/navfooter.html :: navFooterFragment"></div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">글자 바이트 구하기</h5>
                    <p class="card-text">입력한 글자에 따른 바이트를 계산할 수 있습니다.</p>
                    <a href="/plus/util/string/get/byte/main" class="btn btn-primary">Go Util</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">한글 초성 추출 하기</h5>
                    <p class="card-text">한글 문장 입력시 초성을 추출할 수 있습니다.</p>
                    <a href="/plus/util/string/get/initial/main" class="btn btn-primary">Go Util</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">글자 수 확인 하기</h5>
                    <p class="card-text">글자 입력 시 글자 수를 확인 있습니다.</p>
                    <a href="/plus/util/string/get/length/main" class="btn btn-primary">Go Util</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">대소문자 변경</h5>
                    <p class="card-text">영문을 포함한 문자열을 대문자 또는 소문자로 변경할 수 있습니다.</p>
                    <a href="/plus/util/string/convert/ual/main" class="btn btn-primary">Go Util</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">문자열 유사성 확인</h5>
                    <p class="card-text">입력된 두 문자열의 유사성을 확인할 수 있습니다.</p>
                    <a href="/plus/util/string/check/similarity/main" class="btn btn-primary">Go Util</a>
                </div>
            </div>
        </div>
    </div>
    <!-----------------------------------------------------------------------------------------  -->
</div>
<div id="footer-load" th:insert="html/footer.html :: footerFragment"></div>
</body>
</html>